.messenger{
    height: 100vh;
    display: flex;
}
.chatMenu{
    flex: 3.5;
}
.chatMenuInput{
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.chatBox{
    flex: 5.5;
}

.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

}
.chatBoxTop{
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}

.chatBoxBottom{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatMessageInput{
    width: 80%;
    height: 90px;
    padding: 10px;
}
.chatSubmitBotton{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(29, 136, 72);
    color: #fff;
}

.chatOnline{
    flex: 3;
}

.chatMenuWrapper,.chatBoxWrapper,.chatOnlineWrapper{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    height: 100%;
}

/*extraaaa
.chatBoxWrapper{
    background-color: rgb(222, 196, 196); 
    
}

//  one naaa danata


.chatMessageInput{
    padding: 10px;
    padding-left: 15px;
    
    border-radius: 20px;
    background-color: rgba(145, 147, 145, 0.833);
    color: rgb(6, 0, 0);
    width: 95%
}*/

.noConversationText{
    position: absolute;
    top: 10%;
    font-size: 50Px;
    color: aqua;
    cursor: default;


}